# Configurações da aplicação
PORT=3333

# Banco de dados
DB_HOST=localhost
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_NAME=barbershop_db
DB_DIALECT=postgres

# Segurança do Webhook
# Gere um token aleatório seguro, ex: openssl rand -hex 32
# A API Python deve enviar esse mesmo valor no header: x-webhook-secret
WEBHOOK_SECRET=seu_token_secreto_aqui
